# TODO: switch to Django 1.11 soon
Django>=1.10.6,<1.11
PyYAML>=3.12,<4
# including werkzeug for a simple helper func
Werkzeug>=0.11.15,<0.12
psycopg2>=2.6.2,<2.7
djangorestframework>=3.4.0,<3.5
django-filter>=1.0.1,<1.1
django-model-utils>=2.6.1,<2.7
raven
# TODO: remove this, might be... dangerous.
django-webshell
