# TODO: switch to Django 1.11 soon
Django>=1.10.6,<1.11
PyYAML>=3.12,<4
psycopg2>=2.6.2,<2.7
djangorestframework>=3.4.0,<3.5
django-enumfields>=0.8.2,<0.9
drf-enum-field>=0.9.1,<0.10
# TODO: remove this, might be... dangerous.
django-webshell
